// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;
$white: #FFFFFF;

/* font colors */
$heading-blue: rgba(44, 62, 80, 1);
$text-black: rgba(81, 83, 86, 1);
$sidebar-blue: rgba(149, 165, 166, 1);
$border-grey: rgba(174, 174, 174, 1);
$example-grey: rgba(216, 216, 216, 1);

/* filling colors */
$dark-filling: rgba(11, 19, 43, 1);
$medium-filling: rgba(28, 37, 65, 1);
$light-filling: rgba(58, 80, 107, 1);
$cta-green: rgba(91, 192, 190, 1);
$cta-green-hover: rgba(91, 192, 190, 0.7);
$cta-blue: rgba(57, 122, 215, 1);
