// ----------------Section pages-----------
.section-container {
  height: calc(100vh - 70px);
  display: grid;
}

#input-page {
  grid-template-columns: 66.6% 33.3%;
  grid-template-rows: 50% 50%;
}

#output-page {
  grid-template-columns: 66.6% 33.3%;
  grid-template-rows: 50% 50%;
}

.around {
  padding: 20px;
}

// ----------------Grind - Inputbuilder -----------

#input-page #first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
}

#input-page #second {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
}

#input-page #third {
  grid-row: 1 / span 2;
  grid-column: 2/ span 1;
}

// ----------------Grind - Ouputbuilder -----------

#output-page #first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
}

#output-page #second {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
}

#output-page #third {
  grid-row: 2 / span 2;
  grid-columns: 2/ span 2;
}

#output-page #fourth {
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
}


// ----------------Components - Inputbuilder -----------

.form-builder {
  display: flex;
    min-height: 100px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
    min-height: 100px;
  background-color: $dark-filling;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}


#input-form {
  color: white;
  font-size: $font-size-large;
   font-family: $body-font;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  line-height: 26px;
    min-height: 100px;
  p{
    width: max-content;
  }

  input{
    background-color: $light-filling;
    border-radius: $border-radius-large;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
  }
}

.variable-ul-style  {
  padding: 0px !important;
}

.variables-style {
  width: 150px;
  height: 100%;
  background-color: $variable-blue;
  border-radius: $border-radius-large;
  font-family: $variables-font;
  color: $white;
  text-align: center;
  padding: 9px;
  margin: 20px;
  font-size: $font-size-base;
  list-style-type: none;
  @include shadow;
  &:hover {
    color: $white;
  }
}

.output-setting {
  margin: 10px;
  background-color: black;
}
.variable-box{
  padding-bottom: 30px;
  padding-top: 30px;
  min-height: 100px;
  height: 100%;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}

.formula-box {
 margin-top: 20px;
}

#test_data {
  margin-top: 35px;
  height: 85%;
}


// ----------------Components - Outputbuilder -----------

#preview-output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100px;
  background-color: $variable-blue;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}



.checkboxFour {
  width: 40px;
  height: 40px;
  background: #ddd;
  margin: 20px 90px;

  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;

  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  background: #333;
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour input[type=checkbox]:checked + label {
  background: #26ca28;
}


// ----------------Components - Line -----------

.line-form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  }

.fabutton {
  background: none;
  padding: 0px;
  border: none;
  color: $heading-blue;
}
