.section-container {
  height: calc(100vh - 70px);
}

.around {
  padding: 20px;
}


.form-builder {
  display: flex;
    min-height: 100px;
  justify-content: center;
  align-items: center;
  height: 33%;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;


}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
    min-height: 100px;
  background-color: $dark-filling;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;

}

#input-form {
  color: white;
  height: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  line-height: 26px;
    min-height: 100px;
  p{
    width: max-content;
  }

  input{
    background-color: $light-filling;
    border-radius: $border-radius-large;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;

  }

}

.variables-style {
  width: 150px;
  height: 100%;
  background-color: $variable-blue;
  border-radius: $border-radius-large;
  font-family: $variables-font;
  color: $white;
  text-align: center;
  padding: 9px;
  margin: 20px;
  font-size: $font-size-base;
  list-style-type: none;
  @include shadow;
  &:hover {
    color: $white;
  }
}
