// ----------------Section pages-----------
.section-container {
  height: calc(100vh - 70px);
  display: grid;
}

#input-page {
  grid-template-columns: 66.6% 33.3%;
  grid-template-rows: 45% 45% 10%;
}

#output-page {
  grid-template-columns: 100%;
  grid-template-rows: 55% 35% 10%;
}

#variable-page {
  grid-template-columns: 66.6% 33.3%;
  grid-template-rows: 90% 10%;
}

#testdata-page {
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
}

#businesscase-page {
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 50% 10%;
}

#publish-page {
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
}

.around {
  padding: 20px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 24px;
}

// ----------------Grind - Inputbuilder -----------

#input_first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
  padding-bottom: 0;
}

#input_second {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
  padding-top: 10px;
}

#input_third {
  grid-row: 1 / span 2;
  grid-column: 2/ span 1;
}

#input_fourth {
  grid-row: 3 / span 1;
  grid-column: 1/ span 3;
}

#hello {
   resize: none;
   text-align: center;
   padding-top: 30px;
   font-size: 20px;
   font-family: Rubik, Helvetica, sans-serif;
   height: 100%;
}

#save-input-form{
  height:100%;
}

.input-text-box{
  height:80%;
  min-height: 100px;
}

// ----------------Grind - Ouputbuilder -----------

#output_first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
  padding-bottom: 0;
}

#output_second {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
  padding-top: 10px;
}

#output_third {
  grid-row: 3 / span 1;
  grid-column: 1/ span 1;
}

#output-text {
  resize: none;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-family: Rubik, Helvetica, sans-serif;
  height: 70%;
}

.output-text-box{
  height:65%;
  min-height: 100px;
}
// #output-page #fourth {
//   grid-row: 1 / span 1;
//   grid-column: 2/ span 1;
// }

// ----------------Grid - Variablebuilder -----------

#variable_first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
}

#variable_second {
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
}

#variable_third {
  grid-row: 2 / span 1;
  grid-column: 1/ span 2;
}

// ----------------Grid - Variablebuilder -----------

#testdata_first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
  height: calc(100% - 47px);
}

#testdata_first {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
}

// ----------------Grind - Businesscase -----------

#businesscase_first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 2;
}

#businesscase_second {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
}

#businesscase_thrid {
  grid-row: 2 / span 1;
  grid-column: 2/ span 1;
}

#businesscase_fourth {
  grid-row: 3 / span 1;
  grid-column: 1/ span 2;
}

// ----------------Grind - Publish page -----------

#publish-page {
  height: calc(100vh - 180px);
}

#publish_first {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
}

#publish_second {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
}

// ----------------Components - Inputbuilder -----------

.form-builder {
  display: flex;
  min-height: 100px;
  justify-content: center;
  //align-items: center;
  height: calc(100% - 47px);
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  min-height: 100px;
  background-color: $dark-filling;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}


#input-form {
  color: white;
  font-size: $font-size-large;
   font-family: $body-font;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  line-height: 26px;
  min-height: 100px;
  p{
    width: max-content;
  }

  input{
    background-color: $light-filling;
    border-radius: $border-radius-large;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
  }
}

.variable-ul-style  {
  padding: 0px !important;
}

.variables-style {
  width: 138px;
  height: 100%;
  background-color: $cta-green;
  border-radius: $border-radius-large;
  font-family: $variables-font;
  color: $white;
  text-align: center;
  padding: 9px;
  margin: 9px;
  font-size: $font-size-base;
  list-style-type: none;
  @include shadow;
  &:hover {
    color: $white;
  }
}

.output-setting {
  margin: 10px;
  background-color: black;
}
.variable-box{
  padding-bottom: 30px;
  padding-top: 30px;
  min-height: 300px;
  height: calc(100% - 70px);
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}

.formula-box {
 margin-top: 20px;
}

// #test_data {
//   margin-top: 35px;
//   height: 85%;
// }

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

// ----------------Components - Outputbuilder -----------

#preview-output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 44px);
  min-height: 100px;
  background-color: $variable-blue;
  border-radius: $border-radius-base;
  box-shadow: 0px 0px 4px 0px $dark-filling;
}

// .checkbox-box {
//   min-height: 100px;
//   height: 100%;
//   background-color: white;
//   border-radius: 2px;
//   box-shadow: 0px 0px 4px 0px #0b132b;
//   margin-right: 10px;
// }

// ----------------Components - Business case -----------

.line-form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  }

.fabutton {
  background: none;
  padding: 0px;
  border: none;
  color: $heading-blue;
}


#lines-scroll {
  overflow: scroll;
  height: calc(100% - 47px);
  min-height: 100px;
  width:100%;
}

.line-item-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group-margin{
  margin-bottom: 5px !important;
}

.icon-pad{
  padding-left: 3px;
  padding-right: 3px;
}

// ----------------Components - Publish -----------

#bc_input i {
    position: absolute;
    top: 10px;
    left: 10px;
}

#link.active {
    color: #3C6AB9;
}

#bc_input input {
    border: none;
    padding: 13px 60px;
    display: block;
    width: 100%;
}
#bc_input {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px -2px #AAA;
    position: relative;
}

.copy-btn {
    padding: 6px!important;
}

#bc_input button#bc_copy {
    display: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 6px;
    border-radius: 4px;
    font-size: 14px!important;
    width:100px;
}

a { color: $variable-blue; text-decoration: none; }

.arrow-group{
  display: flex;
  justify-content: flex-end;
}

.arrow {
  text-align: right;
  margin: 2%;
}


.arrow-text {
  text-align: right;
  margin: 0%;
}

.b-arrow{
  color: $heading-blue;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.Section-Header{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.save-btn-inner{
    display: flex;
    align-items: baseline;
}

.save-button{
  margin-right: 25px;
}

.save-button i{
  color:$heading-blue;
  padding-right:5px;
}

.preview-btn-margins{
  margin-top: 10px;
}

// ----------------Checkbox style -----------
 .form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

 .checkbox-custom{
  display: inline !important;
  margin: 15px;
 }
