// to define the application.html.erb layout!

#app-screen-show {
  position: fixed;
  top: 70px;
  left: 250px;
  height: calc(100vh - 70px);
  width: calc(100vw - 250px);
  // padding: 20px;
  // overflow-y: auto;
}


#app-screen-index {
  position: fixed;
  top: 70px;
  left: 250px;
  height: calc(100vh - 70px);
  width: calc(100vw - 250px);
  // padding: 20px;
  overflow-y: auto;
}
