#user-case-wrapper {
  background-color: $light-filling;
  margin: 0 auto;
  width: 750px;
  height: 100vh;
}


#lead-reply {
  text-align: center;
}


#user-case-form-container {
  width: 750px;
  height: 75px;
  // display: inline-block;
  background-color: white;
  padding: 20px;
}


.final-form-head {
  //background-color: $cta-green;
  color: white;
  height: 500px;
  width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}



.final-form-tow {

  height: 500px;
  width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.output-sentence {
  font-size: 19px;
  background-color: #5bc0be;
  margin: 70px 0px 33px 0px;
  border-radius: 4px;
  padding: 13px;

}

.output-graph{

}
