.final-form-head {
  background-color: red;
  height: 500px;
  width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


.final-form-tow {
  background-color: green;
  height: 500px;
  width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
