.avatar-large {
  width: 50px;
  height: 50px;
  max-width: 160px;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 0px #d4d3d3;
}

#profile-container {
  margin: 40px;
}

#profile-picture {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;

}

#profile-icon {
  position: absolute;
  top: 18px;
  right: 14px;
}
