#leads-index-container{
  padding: 40px;
}

#leads-header {
  margin: 20px 45px 20px 0px;
  display: flex;
  justify-content:space-between;
}

#less-margin {
  margin-top: 0px;
}

.selected-ordering {
  background-color: #f1f1f1;
}

#records {
  color: $light-filling;
}

#ordering {
  margin-top: 20px;
}

#leads-rows {
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    color: $text-black;
  }

}


