<div style="background-color: blue;">

<%= @output_sentence %>
   <!-- get a translation table from @outputpref to names of vars -->
   <!-- replace the name in out hash w correct name to match the string -->
   <!-- replace the output string with var names with output string w values _ values can be rounddown -->

</div>

<div>
  <%= high_chart_globals(@chart_globals) %>
  <%= high_chart("CaseChart", @chartM) %>
</div>
