<div class="footer">
  <div class="footer-links">
    <a href="#">Terms & Conditions</a>
    <a href="#">Privacy Policy</a>
    <a href="#">FAQ</a>
  </div>
  <div class="footer-copyright">
    Produced by AirBnBoats Ltd 2017 <i class="fa fa-copyright" aria-hidden="true"></i> All Rights Reserved
  </div>
</div>
