/* -------------------------------------
 * Buttons
* ------------------------------------- */ <br><br>


<a href="#" class="btn-CTA">CTA ACTION</a>

<br><br><br>

<a href="#" class="btn-action">action</a>

 <button type="button" id="sidebarCollapse" class="btn btn-CTA">
  <i class="glyphicon glyphicon-align-left"></i>
  <span>Toggle Sidebar</span>
</button>

<br><br><br>
/* -------------------------------------
 * Input / Output fields
* ------------------------------------- */ <br><br>


<div class="input-field" >hello world</div>

<br>

<div class="output-field" >hello world</div>

<br>

/* -------------------------------------
 * elements
* ------------------------------------- */ <br><br>


<i class="variable-element fa fa-bullseye" >  variable</i>

<br><br>
/* -------------------------------------
 * titles
* ------------------------------------- */ <br><br>

<h4 class= "heading-blue"> HEADING TITLE </h4>

<br><br>
/* -------------------------------------


