/* -------------------------------------
 * All buttons and CTAs
* ------------------------------------- */
.btn-info {
  background-color: $cta-green;
}

.btn-CTA {
  color: white;
  padding: 10px 15px;
  border-radius: $border-radius-large;
  font-weight: bold;
  background: $cta-green;
  transition: background 0.3s ease;
  &:hover {
    opacity: 1;
    background: lighten( $cta-green, 10% );
    text-decoration: none;
    color: white;
  }
}


.reverse-CTA {
  min-width: 140px;
  text-align: center;
  color: $cta-green !important;
  padding: 14px;
  border: 1px solid $cta-green;
  border-color: $cta-green;
  border-radius: $border-radius-large;
  font-size: 1.1em !important;
  font-weight: bold;
  background: $white;
  transition: background 0.3s ease;
  &:hover {
    opacity: 1;
    background: $cta-green !important;
    text-decoration: none;
    color: white !important;
  }
}


.btn-action {
  color: white;
  padding: 10px 15px;
  border-radius: 2px;
  background: $light-filling;
  transition: background 0.3s ease;
  &:hover {
    opacity: 1;
    background: lighten( $light-filling, 10% );
    text-decoration: none;
    color: white;
  }
}


.lead-button {
  margin: 2px;
  border-radius: 4px;
  padding: 5px 14px;
  i {
    font-size: 20px;
  }
}


.user-button {
  margin: 2px;
  border-radius: 4px;
  padding: 10px 14px;
}

