.navbar-in-shape {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #0b132b;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-in-briefcases-brand img {
  height: 70px;
  width: auto;
}


/* Left section */
.navbar-in-briefcases-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73px;
}

/* Basic navbar-in item */
.navbar-in-briefcases-item {
  cursor: pointer;
  padding: 0 20px;
}



/* logout items */
.logout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4px;
}

.logout-circle {
  background-color: #5bc0be;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-circle:hover {
   background-color: #c44e00;
}

.navbar-in-briefcases-logout {
  color: white;
  font-size: 14px;
  font-weight: light;
  font-family: $headers-font;
}

.navbar-in-briefcases-logout:hover {
  color: #c44e00;
  text-decoration: none;
}
