

/* Logo */
.navbar-out-briefcases-brand img {
  height: 60px;
  width: auto;
}


/* Left section */
.navbar-out-briefcases-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar-out item */
.navbar-out-briefcases-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar-out link */
.navbar-out-briefcases-link {
  color: $example-gray;
  font-size: 14px;
  font-weight: light;
  font-family: $headers-font;
}
.navbar-out-briefcases-link:hover {
  color: $cta-green;
  text-decoration: none;
}

/* Login icon */
.fa {
  color: $example-gray;
  margin: 0px;
}


/* Login link */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login:hover {
  a {
    color: $cta-green;
  }
  .fa {
    color: $cta-green;
  }
}

.space {
  padding: 0px 26px 0px 5px;
}

/* Sign up button design */
/* cf the _button.scss file */




