.navbar-in-shape {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $dark-filling;
  transition: all 0.3s ease;
  height: 70px;
  margin-left: 250px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-in-briefcases-brand img {
  height: 60px;
  width: auto;
}


/* Left section */
.navbar-in-briefcases-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73px;
}

/* Basic navbar-in item */
.navbar-in-briefcases-item {
  cursor: pointer;
  padding: 0 20px;
}




/* logout items */
.logout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4px;
}


.logout-circle {
  background-color: $cta-green;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar-in-briefcases-logout {
  color: $example-gray;
  font-size: 14px;
  font-weight: light;
  font-family: $headers-font;
}


.logout:hover {
  .logout-circle:hover {
   background-color: $variable-blue;
  }

  .navbar-in-briefcases-logout:hover {
  color: $cta-green;
  text-decoration: none;
  }
}
.fa #trigger:hover{
  color: $example-gray;
}


/* --------------------------- Copied in---------------------- */


/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $medium-filling;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navbar-wagon-fixed {
  position: fixed;
  top: 0;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Logo */
.navbar-wagon-brand img {
  height: 35px;
  margin-left: 10px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
  white-space:nowrap;
}
.navbar-wagon-link:hover {
  color: $gray;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.button-bar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.fa {
  padding-right: 5px;
}

