<div class="around" id="businesscase_first">
  <div class="Section-Header">
    <h3 class= page-title> SCENARIO BUILDER</h3>
  </div>
  <div id="lines-scroll">
    <div id="new-line-s-form" class="new-line-form">
      <%= render "newformline" %>
    </div>
    <div id="existing-lines">
      <%= render "existinglines" %>
    </div>
  </div>
</div>
<div class="around" id="businesscase_second">
  <h3 class= page-title>SCENARIO A PREVIEW</h3>
    <%= render "SCNA_graph" %>
</div>
<div class="around" id="businesscase_third">
  <h3 class= page-title>SCENARIO B PREVIEW</h3>
    <%= render "SCNB_graph" %>
</div>
<div class="" id="businesscase_fourth">
  <div class="arrow-group">
    <div class="arrow-text">
      <h3>PREVIEW & PUBLISH</h3>
    </div>
    <div class="arrow bounce" id="to-sixthPage">
      <a class="fa fa-arrow-down fa-2x b-arrow" href="#sixthPage"></a>
    </div>
  </div>
</div>

