
<div class="around checkbox-box text-center">

   <!-- <input type="checkbox" name="vehicle" value="@NpvEndOfYearOne" class="output-check" id=" --><!-- NpvEndOfYearOne">NPV end of year 1<br> -->
   <!-- <input type="checkbox" name="vehicle" value="@NpvEndOfYearTwo" class="output-check" id="NpvEndOfYearTwo"> NPV end of year 2<br>
   <input type="checkbox" name="vehicle" value="@NpvEndOfYearThree" class="output-check" id="NpvEndOfYearThree"> NPV end of year 3<br> -->
   <!-- <input type="checkbox" name="vehicle" value="@BreakEvenPoint" class="output-check" id="BreakEvenPoint"> Break-even point<br>
   <input type="checkbox" name="vehicle" value="@Earning" class="output-check" id="Earning"> Earning<br>
   <input type="checkbox" name="vehicle" value="@Return" class="output-check" id="Return"> Return<br>
 -->


        <div class="[ form-group ] checkbox-custom">
          <input type="checkbox" name="output_pref_1" value="@BAEndofPeriodVal" class="output-check" id="BAEndofPeriodVal" autocomplete="off" />
          <div class="[ btn-group ]">
            <label for="BAEndofPeriodVal" class="[ btn btn-info ]">
              <span class="[ glyphicon glyphicon-minus ]"></span>
              <span class="[ glyphicon glyphicon-plus ]"></span>
            </label>
            <label for="BAEndofPeriodVal" class="[ btn btn-default active ]">
              Value at end of period B-A
            </label>
          </div>
        </div>

        <div class="[ form-group ] checkbox-custom">
          <input type="checkbox" name="output_pref_2" value="@ABEndofPeriodVal" class="output-check" id="ABEndofPeriodVal" autocomplete="off" />
          <div class="[ btn-group ]">
            <label for="ABEndofPeriodVal" class="[ btn btn-info ]">
              <span class="[ glyphicon glyphicon-minus ]"></span>
              <span class="[ glyphicon glyphicon-plus ]"></span>
            </label>
            <label for="ABEndofPeriodVal" class="[ btn btn-default active ]">
              Value at end of period A-B
            </label>
          </div>
        </div>


        <div class="[ form-group ] checkbox-custom">
          <input type="checkbox" name="output_pref_3" value="@ReturnOnInvestedCapital" class="output-check" id="ReturnOnInvestedCapital" autocomplete="off" />
          <div class="[ btn-group ]">
            <label for="ReturnOnInvestedCapital" class="[ btn btn-info ]">
              <span class="[ glyphicon glyphicon-minus ]"></span>
              <span class="[ glyphicon glyphicon-plus ]"></span>
            </label>
              <label for="ReturnOnInvestedCapital" class="[ btn btn-default active ]">
                Return on Invested Capital
              </label>
            </div>
        </div>




          <div class="[ form-group ] checkbox-custom">
            <input type="checkbox" name="output_pref_4" value="@InternalRateOfReturn" class="output-check" id="InternalRateOfReturn" autocomplete="off" />
            <div class="[ btn-group ]">
              <label for="InternalRateOfReturn" class="[ btn btn-info ]">
                <span class="[ glyphicon glyphicon-minus ]"></span>
                <span class="[ glyphicon glyphicon-plus ]"></span>
              </label>
              <label for="InternalRateOfReturn" class="[ btn btn-default active ]">
                Internal Rate of Return
              </label>
            </div>
          </div>




          <div class="[ form-group ] checkbox-custom">
            <input type="checkbox" name="output_pref_5" value="@FirstBreakeveInMonths" class="output-check" id="FirstBreakeveInMonths" autocomplete="off" />
            <div class="[ btn-group ]">
              <label for="FirstBreakeveInMonths" class="[ btn btn-info ]">
                <span class="[ glyphicon glyphicon-minus ]"></span>
                <span class="[ glyphicon glyphicon-plus ]"></span>
              </label>
              <label for="FirstBreakeveInMonths" class="[ btn btn-default active ]">
                Months before 1st break even point
              </label>
            </div>
          </div>


          <div class="[ form-group ] checkbox-custom">
            <input type="checkbox" name="output_pref_6" value="@SecondBreakeveInMonths" class="output-check" id="SecondBreakeveInMonths" autocomplete="off" />
            <div class="[ btn-group ]">
              <label for="SecondBreakeveInMonths" class="[ btn btn-info ]">
                <span class="[ glyphicon glyphicon-minus ]"></span>
                <span class="[ glyphicon glyphicon-plus ]"></span>
              </label>
              <label for="SecondBreakeveInMonths" class="[ btn btn-default active ]">
               Months before 2nd break even point
              </label>
            </div>
          </div>
</div>
