
 <div class="around" id="output_first">
  <h3 class= page-title>MESSAGE BUILDER</h3>
  <div>
    <%= simple_form_for @case, url: save_output_admin_case_path(@case), method: :post do |f|%>
      <%= f.input :user_output_text, as: :text, label: false, wrapper: false, input_html: { id:"output-text", style: "height: 236.27px; resize: none; text-align: center; padding-top: 30px; font-size: 20px; font-family: Rubik, Helvetica, sans-serif"} %>
    <% end %>
  </div>
</div>

<div class="around" id="output_second">
<h3 class= page-title>MESSAGE PREVIEW</h3>
  <div id="preview-output">
    <div id="input-form" class="text-output">
    </div>
  </div>
</div>
  <!--   <div class="text-input" style="width: 400px; height: 200px; background-color: yellow; margin: 20px 0px 0px 0px;">

  </div> -->

<div id="output_third" class="around">
  <h3 class= page-title>STATISTICS</h3>
    <div class="around checkbox-box">
         <input type="checkbox" name="vehicle" value="@NpvEndOfYearOne" class="output-check"> NPV end of year 1<br>
         <input type="checkbox" name="vehicle" value="@NpvEndOfYearTwo" class="output-check"> NPV end of year 2<br>
         <input type="checkbox" name="vehicle" value="@NpvEndOfYearThree" class="output-check"> NPV end of year 3<br>
         <input type="checkbox" name="vehicle" value="@BreakEvenPoint" class="output-check"> Break-even point<br>
         <input type="checkbox" name="vehicle" value="@Earning" class="output-check"> Earning<br>
         <input type="checkbox" name="vehicle" value="@Return" class="output-check"> Return<br>
    </div>

<!-- <button id="om"> click</button>
 <div id="losc" class="popover" popover-title="hello world" >
   <p>blablablabla</p>
 </div> -->
</div>




