
 <div class="around" id="output_first">
   <div class="Section-Header">
      <h3 class= page-title> Message Builder</h3>
      <div class="save-button">
        <%= button_tag type: 'submit', form: "save-output-form", class: "fabutton save-btn-inner", id: "global-save-2" do %>
        <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
        <h4> CASE</h4><% end %>
      </div>
    </div>
  <div class="checkboxes">
  <%= simple_form_for @case, url: save_output_admin_case_path(@case), :html => {:id => "save-output-form"}, method: :patch do |f|%>
    <%= render "outputprefcheckboxes" %>
  </div>
  <div class="output-text-box">
      <%= f.input :user_output_text, as: :text, label: false, wrapper: false, input_html: { id:"output-text"} %>
    <% end %>
  </div>
</div>

<div class="around" id="output_second">
<h3 class= page-title>MESSAGE PREVIEW</h3>
  <div id="preview-output">
    <div id="input-form" class="text-output">
    </div>
  </div>
</div>
  <!--   <div class="text-input" style="width: 400px; height: 200px; background-color: yellow; margin: 20px 0px 0px 0px;">

  </div> -->
