
<div class="around" id="input_first">
  <h3>FORM BUILDER</h3>
  <%= simple_form_for @case, url: save_input_admin_case_path(@case), method: :post do |f|%>
    <%= f.input :user_input_text, as: :text, label: false, wrapper: false, input_html: { id:"hello", style: "height: 236.27px; resize: none; text-align: center; padding-top: 30px; font-size: 20px; font-family: Rubik, Helvetica, sans-serif"} %>
  <% end %>
</div>


<div class="around" id="input_second">
  <h3>FORM PREVIEW</h3>
  <div id="preview">
    <div id="input-form" class="text-input">
    </div>
  </div>
</div>

<div class="around" id="input_third">
  <h3>VARIABLE</h3>
  <div  class="form-builder">
   <div class="container">
     <div class="row" id="variables-box">
     </div>
   </div>
  </div>
</div>


