
<div class="around" id="input_first">
  <h3 class= page-title>FORM BUILDER</h3>
  <%= simple_form_for @case, url: save_input_admin_case_path(@case), :html => {:id => "save-input-form"} ,method: :patch do |f|%>
    <%= f.input :user_input_text, as: :text, label: false, wrapper: false, placeholder: "Example: I have @TotalUserBulbs incandencent lightbulbs with a wattage of UserBulbWattage ... ", input_html: { id:"hello"} %>
  <% end %>
</div>

<div class="around" id="input_second">
  <h3 class= page-title>FORM PREVIEW</h3>
  <div id="preview">
    <div id="input-form" class="text-input">
    </div>
  </div>
</div>

<div class="around" id="input_third">
  <div class="Section-Header">
    <h3 class= page-title> USER INPUT FIELDS</h3>
    <div class="save-button">
      <%= button_tag type: 'submit', form: "save-input-form", class: "fabutton save-btn-inner", id: "global-save" do %>
      <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
      <h4> CASE</h4><% end %>
    </div>
  </div>
  <div  class="form-builder">
   <div class="container">
     <div class="row" id="variables-box">
     </div>
   </div>
  </div>
</div>


