<div id="app-screen-index">
<div class="wrapper-admin-cases-index">

<h1>User Case Portfolio Placeholder</h1>

<ul>
  <% @cases.each do |one_case| %>
    <li><%= link_to one_case.name, admin_case_path(one_case) %></li>
  <% end %>
</ul>

</div>
</div>

